---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_19rUkOChPCJ2aJVTe0wpGllm
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_19rUkOChPCJ2aJVTjyrfsO35"
          }
        }
  recorded_at: Sun, 26 Feb 2017 16:19:45 GMT
recorded_with: VCR 3.0.3
