---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19r5U6ChPCJ2aJVTibhGHPWd",
          "object": "token",
          "card": {
            "id": "card_19r5U5ChPCJ2aJVTNYJaj4W2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "lFWsXTNBOoenkQc0",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "209.6.134.113",
          "created": 1488028874,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 25 Feb 2017 13:21:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_19r5U6ChPCJ2aJVTibhGHPWd
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_19r5U6ChPCJ2aJVTBkJdYdN3"
          }
        }
  recorded_at: Sat, 25 Feb 2017 13:21:14 GMT
recorded_with: VCR 3.0.3
