---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19r5SeChPCJ2aJVTllBSsI3v",
          "object": "token",
          "card": {
            "id": "card_19r5SeChPCJ2aJVTeBl9mOLp",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "cL5ggIKMUkluqCc5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "209.6.134.113",
          "created": 1488028784,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 25 Feb 2017 13:19:44 GMT
recorded_with: VCR 3.0.3
