---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19sA33ChPCJ2aJVTfmPeAy79",
          "object": "token",
          "card": {
            "id": "card_19sA32ChPCJ2aJVTt5iz6iaU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "cL5ggIKMUkluqCc5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "209.6.134.113",
          "created": 1488284745,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 28 Feb 2017 12:25:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_19sA33ChPCJ2aJVTfmPeAy79&plan=base&email=ray%40kerlukebraun.name
    headers:
      Authorization:
      - Bearer sk_test_rGhAcGnt1Q2JPDa18RhnAhKN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ACZBDcLkTil2mX",
          "object": "customer",
          "account_balance": 0,
          "created": 1488284745,
          "currency": "usd",
          "default_source": "card_19sA32ChPCJ2aJVTt5iz6iaU",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ray@kerlukebraun.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19sA32ChPCJ2aJVTt5iz6iaU",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_ACZBDcLkTil2mX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2020,
                "fingerprint": "cL5ggIKMUkluqCc5",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ACZBDcLkTil2mX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_ACZB1EuIKCk6eB",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1488284745,
                "current_period_end": 1490703945,
                "current_period_start": 1488284745,
                "customer": "cus_ACZBDcLkTil2mX",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_19sA33ChPCJ2aJVTx337i0Ot",
                      "object": "subscription_item",
                      "created": 1488284745,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1488282131,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "The Base Plan for MyFlix",
                        "statement_descriptor": "MyFlix Subscription",
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_ACZB1EuIKCk6eB"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1488282131,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "The Base Plan for MyFlix",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1488284745,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ACZBDcLkTil2mX/subscriptions"
          }
        }
  recorded_at: Tue, 28 Feb 2017 12:25:45 GMT
recorded_with: VCR 3.0.3
